
<div class='<%- validate_errors.body ? "invalid_field" : "field" %>'>

    <label for="comment_body">Contenido</label><br />
    <textarea id="comment_body" name="comment[body]" rows="10" cols="80"><%= comment.body %></textarea>
</div>

<div class="actions">
    <input name="commit" type="submit" value="Salvar" />
</div>


