
<h2> Atención </h2>

<p>
El Servidor ha experimentado un pequeño problema:
</em>(Código: <%= error.status || 500 %>)</em>
</p>

<p>
<strong> <%= message %> </strong>
</p>

<pre><%= error.stack || '' %></pre>

